* {
    font-family: 'Nanum Gothic', sans-serif;
}

#wrap {
    width: 800px;
    margin: auto;
    padding: 20px 70px 50px 70px;
    /*background-color: aquamarine;*/
}

.btn-group {
    display: block;
    padding: 10px;
}

.btn-group .btn-group-in {
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.question-h {
    text-align: center;
    padding: 10px;
}

.question-h h2 {
    margin-bottom: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
}

.btn.btn-outline-primary.choice {
    width: 200px;
    height: 100px;
    margin: auto;
    line-height: 80px;
}

.btn.btn-primary.next {
    width: 200px;
    display: block;
    margin: 30px auto auto auto;
}


