<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href='{{ url_for("static", filename="mystyle.css") }}' rel="stylesheet">
    <script>

        $(document).ready(function () {
        q2();
        });

        function q2() {
            $.ajax({
                type: 'GET',
                url: '/q2',
                data: {},
                success: function (response) {
                    let category = response['categories']
                    for (let i = 0; i < category.length; i++) {
                        let menu = category[i]["category"]
                        let temp_html = `<button type="button" class="btn btn-outline-primary" onclick="choose2('${menu}')">${menu}</button>`
                        $('#q2').append(temp_html)
                    }
                }
            });
        }

        function choose2(menu) {
            $.ajax({
                type: 'POST',
                url: '/choose2',
                data: {menu_give:menu},
                success: function (response) {
                    alert(response['msg']);
                }
            });
        }

        </script>

        <style>
            * {
            font - family: 'Nanum Gothic', sans-serif;
        }

            /*.btn-group {*/
            /*    margin-top: 20px;*/
            /*}*/

        .wrap {
            text-align: center;
        }
        </style>

    </head>

    <body>
    <div class="wrap">
    <div class="banner" onclick="window.location.href = '/'"></div>
    <p class="lead">몇가지 질문에 답해주시면, 오늘 드실 음식을 추천해드릴게요!</P>
    <P><H4>Q2</H4></P>

        <hr class="my-4">
        <span id="q2" style="font-size: 20px">
            </span>
        <hr class="my-4">
            <button onclick="window.location.href = '/recommendation3'" id="q2menu" type="button" class="btn btn-primary">다음
            </button>

    </div>
    </body>
</html>


